# Data files
data/ntc_raw_*.csv
data/data_notice_*.csv
data/*_clean*.csv
data/*_cleaned*.csv
*.csv
!data/sample_raw_dummy.csv

# Jupyter checkpoints
.ipynb_checkpoints/
__pycache__/
*.pyc

# Kredensial SQL Server
.env
*.env
config.ini
credentials.py
connection_config.py

# Power BI source files
*.pbix

# OS
.DS_Store
Thumbs.db
